{% include 'layout.html' %}

<main class="container">
  <article class="card">
      <header class="card-header">
          Login
      </header>
      <section class="card-body">
        <form id="loginForm">
          <fieldset class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" autocomplete="username" required>
          </fieldset>
          <fieldset class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" autocomplete="current-password" required>
          </fieldset>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </section>
      <footer class="card-footer text-muted">
          <a href="/auth/register-page"> Register? </a>
      </footer>
  </article>
</main>
